
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="row">
    
    <div class="col-lg-3">
        <a href="#" id="btnSearch" onclick="searchEmployee();" class="btn btn-primary"> Search Employee</a>
    </div>
    <div class="col-lg-3">
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/Employee.js"></script>
<script src="~/js/EmployeeAjax.js"></script>